<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bookstore - List</title>
        <a href="{% url 'logout' %}">Logout</a>
    </head>

    <body>
        <h1>Books List</h1>

        <!-- Table displaying book titles and their covers -->
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <td>Title</td>
                <td>Book Cover</td>
            </tr>

            {% for object in object_list %}
            <tr>
                <td>
                    <a href="{{object.get_absolute_url}}">{{object.name}}</a>
                </td>
                <td><img src="{{object.pic.url}}" width="150" height="200"></td>
            </tr>
            
            <br>
            {% endfor %}   
        </table>
    </body>
</html>
