<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bookstore - Records</title>
    </head>

    <body>
        <h1>Search for sales records</h1>

        <hr>

        <!-- Records search form -->
        <form action="" method="POST">
            {% csrf_token %}

            {{form}}

            <button type="submit">Search</button>
        </form>

        <br>

        <!-- Checks if there is any data in sales_df -->
        {% if sales_df %}
            {{sales_df | safe}}

            <br>

            <img src="data:image/png;base64, {{chart | safe}}">
        {% else %}
            <h3> no data</h3>
        {% endif %}
    </body>
</html>
