<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bookstore Home</title>
        <a href="{% url 'login' %}">Login</a>
        <script src="{% static 'sales/home.js' %}" defer></script>
    </head>

    <body>
        <h1 style="text-align: center;">Welcome to our Bookstore</h1>

        <img src="{% static 'sales/images/bookshelf.jpg' %}" alt="home" width="600" height="300">
    </body>
</html>
